@-webkit-keyframes pt_theme__loadingSpinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); }
}

@keyframes pt_theme__loadingSpinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); }
}

body {
}

body .-text-white {
	color: white; }

body .-max-width-10px {
	max-width: 10px; }

body .-max-width-20px {
	max-width: 200px; }

body .-max-width-30px {
	max-width: 30px; }

body .-max-width-40px {
	max-width: 40px; }

body .-max-width-50px {
	max-width: 50px; }

body .-max-width-60px {
	max-width: 60px; }

body .-max-width-70px {
	max-width: 70px; }

body .-max-width-80px {
	max-width: 80px; }

body .-max-width-90px {
	max-width: 90px; }

body .-max-width-100px {
	max-width: 100px; }

body .-max-width-150px {
	max-width: 150px; }

body .-max-width-200px {
	max-width: 200px; }

body .-max-width-300px {
	max-width: 300px; }

body .-max-width-350px {
	max-width: 350px; }

body .-max-width-400px {
	max-width: 400px; }

body .-max-width-450px {
	max-width: 450px; }

body .-max-width-500px {
	max-width: 500px; }

body .-max-width-550px {
	max-width: 550px; }

body .-max-width-600px {
	max-width: 600px; }

body .-max-width-650px {
	max-width: 650px; }

body .-max-width-700px {
	max-width: 700px; }

body .-max-width-750px {
	max-width: 750px; }

body .-max-width-800px {
	max-width: 800px; }

body .-opacity-10 {
	opacity: 0.1; }

body .-opacity-20 {
	opacity: 0.2; }

body .-opacity-30 {
	opacity: 0.3; }

body .-opacity-40 {
	opacity: 0.4; }

body .-opacity-50 {
	opacity: 0.5; }

body .-opacity-60 {
	opacity: 0.6; }

body .-opacity-70 {
	opacity: 0.7; }

body .-opacity-80 {
	opacity: 0.8; }

body .-opacity-90 {
	opacity: 0.9; }

body.-do-not-scroll {
	overflow: hidden !important; }

body .-gradient-overlayer::before {
	-webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	content: " ";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: transparent;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(10%, transparent), color-stop(100%, rgba(0, 0, 0, 0.75)));
	background: -webkit-linear-gradient(top, transparent 0%, transparent 10%, rgba(0, 0, 0, 0.75) 100%);
	background: linear-gradient(to bottom, transparent 0%, transparent 10%, rgba(0, 0, 0, 0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0); }

html {
	height: 100%;
	width: 100%; }

body {
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	margin: 0;
}

body.-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap; }

body.-flex.-flex-end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	-ms-grid-row-align: flex-end;
	align-items: flex-end;
	-ms-flex-line-pack: end;
	align-content: flex-end; }

body.-flex.-flex-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center; }

body main {
	width: 100%;
	max-width: 1170px;
	position: relative; }

body main.-fluid {
	max-width: 100%; }

body main.-center {
	margin: 0 auto; }

@media (max-width: 767px) {
	body .-hide-on-phone {
		display: none; }
}

@media (min-width: 768px) and (max-width: 1023px) {
	body .-hide-on-tablet-portrait {
		display: none; }
}

@media (min-width: 1024px) and (max-width: 1024px) {
	body .-hide-on-tablet {
		display: none; }
}

@media (min-width: 1025px) {
	body .-hide-on-browser {
		display: none; }
}
