@-webkit-keyframes pt_theme__loadingSpinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); }
}

@keyframes pt_theme__loadingSpinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); }
}

.button {
	display: table;
	position: relative;
	padding: 22px 40px;
}

@media (max-width: 767px) {
	.button {
		padding: 18px 38px; }
}

.button p {
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	font-family: 'Montserrat';
	font-weight: 700;
	margin: 0;
	font-size: 12px;
	line-height: 100%;
	color: #FFFFFF;
	z-index: 1;
	display: block;
	position: relative; }

.button::before {
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	background: #3952D0;
	border-radius: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 93%;
	height: 93%;
	z-index: 0; }

@media (min-width: 1024px) {
	.button:hover::before {
		width: 100%;
		height: 100%; }
}

.button.-underline-style {
	padding: 22px 35px; }

@media (max-width: 767px) {
	.button.-underline-style {
		padding: 18px 38px; }
}

.button.-underline-style::before {
	border-radius: 0;
	position: absolute;
	top: 80%;
	left: 10%;
	-webkit-transform: none;
	transform: none;
	width: 80%;
	height: 4px;
	z-index: 0; }

@media (min-width: 1024px) {
	.button.-underline-style:hover::before {
		left: 5%;
		width: 90%; }
}

.button.-only-border-style::before {
	background: transparent;
	border: 3px solid #3952D0;
	width: calc(93% - 6px);
	height: calc(93% - 6px); }

.button.-only-border-style:hover::before {
	background: #3952D0; }

@media (min-width: 768px) {
	.button.-pulls-right {
		margin-right: -70px;
		padding-right: 80px; }
}

@media (min-width: 768px) {
	.button.-pulls-left {
		margin-left: -70px;
		padding-left: 80px; }
}

.button.-extra-padding {
	padding: 22px 60px; }

.-buttons-inline {
	clear: both; }

.-buttons-inline > a {
	display: inline-block;
	float: left; }

.social-icons {
}

.social-icons .-icon {
	color: white;
	position: relative;
	width: 50px;
	height: 50px;
	font-size: 100%;
	margin: 0 -1px;
	line-height: 0;
	display: inline-block;
	vertical-align: middle;
}

@media (max-width: 767px) {
	.social-icons .-icon {
		width: calc(50px * 0.9);
		height: calc(50px * 0.9); }
}

.social-icons .-icon i {
	line-height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: table; }

.social-icons .-icon::before {
	-webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	content: " ";
	position: absolute;
	width: 85%;
	height: 85%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%; }

.social-icons .-icon:hover::before {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4); }

.social-icons .-icon.-colorful.-modelmayhem::before {
	background-color: #000000; }

.social-icons .-icon.-colorful.-mixcloud::before {
	background-color: #000000; }

.social-icons .-icon.-colorful.-drupal::before {
	background-color: #22a9e0; }

.social-icons .-icon.-colorful.-swarm::before {
	background-color: #ff9a1c; }

.social-icons .-icon.-colorful.-istock::before {
	background-color: #040404; }

.social-icons .-icon.-colorful.-yammer::before {
	background-color: #0073c6; }

.social-icons .-icon.-colorful.-ello::before {
	background-color: #000000; }

.social-icons .-icon.-colorful.-stackoverflow::before {
	background-color: #f47f25; }

.social-icons .-icon.-colorful.-triplej::before {
	background-color: #e73429; }

.social-icons .-icon.-colorful.-houzz::before {
	background-color: #7bc144; }

.social-icons .-icon.-colorful.-rss::before {
	background-color: #fc762b; }

.social-icons .-icon.-colorful.-paypal::before {
	background-color: #009cdd; }

.social-icons .-icon.-colorful.-odnoklassniki::before {
	background-color: #f68222; }

.social-icons .-icon.-colorful.-airbnb::before {
	background-color: #ff5b60; }

.social-icons .-icon.-colorful.-periscope::before {
	background-color: #2ba4c6; }

.social-icons .-icon.-colorful.-outlook::before {
	background-color: #0074c6; }

.social-icons .-icon.-colorful.-coderwall::before {
	background-color: #343131; }

.social-icons .-icon.-colorful.-tripadvisor::before {
	background-color: #1e882f; }

.social-icons .-icon.-colorful.-goodreads::before {
	background-color: #463020; }

.social-icons .-icon.-colorful.-tripit::before {
	background-color: #f38c07; }

.social-icons .-icon.-colorful.-lanyrd::before {
	background-color: #133359; }

.social-icons .-icon.-colorful.-slideshare::before {
	background-color: #007ab5; }

.social-icons .-icon.-colorful.-buffer::before {
	background-color: #333333; }

.social-icons .-icon.-colorful.-disqus::before {
	background-color: #239eff; }

.social-icons .-icon.-colorful.-vkontakte::before {
	background-color: #4b76a3; }

.social-icons .-icon.-colorful.-whatsapp::before {
	background-color: #4dc247; }

.social-icons .-icon.-colorful.-patreon::before {
	background-color: #e8481d; }

.social-icons .-icon.-colorful.-storehouse::before {
	background-color: #231f20; }

.social-icons .-icon.-colorful.-pocket::before {
	background-color: #ee4255; }

.social-icons .-icon.-colorful.-mail::before {
	background-color: #008299; }

.social-icons .-icon.-colorful.-blogger::before {
	background-color: #f89239; }

.social-icons .-icon.-colorful.-technorati::before {
	background-color: #3baf04; }

.social-icons .-icon.-colorful.-reddit::before {
	background-color: #ff4706; }

.social-icons .-icon.-colorful.-dribbble::before {
	background-color: #f36898; }

.social-icons .-icon.-colorful.-stumbleupon::before {
	background-color: #ec4a26; }

.social-icons .-icon.-colorful.-digg::before {
	background-color: #165790; }

.social-icons .-icon.-colorful.-envato::before {
	background-color: #81b342; }

.social-icons .-icon.-colorful.-behance::before {
	background-color: #006aff; }

.social-icons .-icon.-colorful.-delicious::before {
	background-color: #1d96ff; }

.social-icons .-icon.-colorful.-deviantart::before {
	background-color: #04cc48; }

.social-icons .-icon.-colorful.-forrst::before {
	background-color: #4fb54b; }

.social-icons .-icon.-colorful.-play::before {
	background-color: #0070c0; }

.social-icons .-icon.-colorful.-zerply::before {
	background-color: #9dbb7a; }

.social-icons .-icon.-colorful.-wikipedia::before {
	background-color: #333333; }

.social-icons .-icon.-colorful.-apple::before {
	background-color: #aaaaaa; }

.social-icons .-icon.-colorful.-flattr::before {
	background-color: #fdb936; }

.social-icons .-icon.-colorful.-github::before {
	background-color: #323131; }

.social-icons .-icon.-colorful.-renren::before {
	background-color: #005fac; }

.social-icons .-icon.-colorful.-friendfeed::before {
	background-color: #85a9d9; }

.social-icons .-icon.-colorful.-newsvine::before {
	background-color: #005221; }

.social-icons .-icon.-colorful.-bebo::before {
	background-color: #ef1513; }

.social-icons .-icon.-colorful.-zynga::before {
	background-color: #f60b30; }

.social-icons .-icon.-colorful.-steam::before {
	background-color: #010103; }

.social-icons .-icon.-colorful.-xbox::before {
	background-color: #107b10; }

.social-icons .-icon.-colorful.-windows::before {
	background-color: #0078d7; }

.social-icons .-icon.-colorful.-qq::before {
	background-color: #000000; }

.social-icons .-icon.-colorful.-douban::before {
	background-color: #007510; }

.social-icons .-icon.-colorful.-meetup::before {
	background-color: #f10a05; }

.social-icons .-icon.-colorful.-playstation::before {
	background-color: #00338a; }

.social-icons .-icon.-colorful.-android::before {
	background-color: #9acc06; }

.social-icons .-icon.-colorful.-snapchat::before {
	background-color: #fffb0e; }

.social-icons .-icon.-colorful.-twitter::before {
	background-color: #55acee; }

.social-icons .-icon.-colorful.-facebook::before {
	background-color: #3b5998; }

.social-icons .-icon.-colorful.-googleplus::before {
	background-color: #dd4b39; }

.social-icons .-icon.-colorful.-pinterest::before {
	background-color: #cb2027; }

.social-icons .-icon.-colorful.-foursquare::before {
	background-color: #fa4a78; }

.social-icons .-icon.-colorful.-yahoo::before {
	background-color: #3f0690; }

.social-icons .-icon.-colorful.-skype::before {
	background-color: #00b0f0; }

.social-icons .-icon.-colorful.-yelp::before {
	background-color: #bf3126; }

.social-icons .-icon.-colorful.-feedburner::before {
	background-color: #0072c4; }

.social-icons .-icon.-colorful.-linkedin::before {
	background-color: #007bb5; }

.social-icons .-icon.-colorful.-viadeo::before {
	background-color: #f4972c; }

.social-icons .-icon.-colorful.-xing::before {
	background-color: #005d5e; }

.social-icons .-icon.-colorful.-myspace::before {
	background-color: #003499; }

.social-icons .-icon.-colorful.-soundcloud::before {
	background-color: #fb3e0f; }

.social-icons .-icon.-colorful.-spotify::before {
	background-color: #1dd660; }

.social-icons .-icon.-colorful.-grooveshark::before {
	background-color: #f77f07; }

.social-icons .-icon.-colorful.-lastfm::before {
	background-color: #e41a2d; }

.social-icons .-icon.-colorful.-youtube::before {
	background-color: #bb0000; }

.social-icons .-icon.-colorful.-vimeo::before {
	background-color: #06b7ea; }

.social-icons .-icon.-colorful.-dailymotion::before {
	background-color: #0065dc; }

.social-icons .-icon.-colorful.-vine::before {
	background-color: #00b185; }

.social-icons .-icon.-colorful.-flickr::before {
	background-color: #0064db; }

.social-icons .-icon.-colorful.-w500px::before {
	background-color: #009ae5; }

.social-icons .-icon.-colorful.-instagram::before {
	background-color: #125688; }

.social-icons .-icon.-colorful.-wordpress::before {
	background-color: #00749a; }

.social-icons .-icon.-colorful.-tumblr::before {
	background-color: #36465d; }

.social-icons .-icon.-colorful.-twitch::before {
	background-color: #6343a5; }

.social-icons .-icon.-colorful.-w8tracks::before {
	background-color: #0f2c4b; }

.social-icons .-icon.-colorful.-amazon::before {
	background-color: #231f20; }

.social-icons .-icon.-colorful.-smugmug::before {
	background-color: #96c73e; }

.social-icons .-icon.-colorful.-ravelry::before {
	background-color: #c61b4e; }

.social-icons .-icon.-colorful.-weibo::before {
	background-color: #fc1d26; }

.social-icons .-icon.-colorful.-baidu::before {
	background-color: #181fdc; }

.social-icons .-icon.-colorful.-angellist::before {
	background-color: #373435; }

.social-icons .-icon.-colorful.-ebay::before {
	background-color: #e63438; }

.social-icons .-icon.-colorful.-imdb::before {
	background-color: #e4ac3e; }

.social-icons .-icon.-colorful.-stayfriends::before {
	background-color: #ff8d08; }

.social-icons .-icon.-colorful.-residentadvisor::before {
	background-color: #fffe0d; }

.social-icons .-icon.-colorful.-google::before {
	background-color: #0058c6; }

.social-icons .-icon.-colorful.-yandex::before {
	background-color: #e62922; }

.social-icons .-icon.-colorful.-sharethis::before {
	background-color: #1c6e01; }

.social-icons .-icon.-colorful.-bandcamp::before {
	background-color: #609aa9; }

.social-icons.-small .-icon {
	width: 40px;
	height: 40px;
	font-size: 90%; }

@media (max-width: 767px) {
	.social-icons.-small .-icon {
		width: calc(40px * 0.9);
		height: calc(40px * 0.9); }
}

.social-icons.-opacity-10 .-icon::before {
	background-color: rgba(255, 255, 255, 0.1); }

.social-icons.-opacity-10 .-icon:hover::before {
	background-color: rgba(255, 255, 255, 0.4); }

.social-icons.-opacity-60 .-icon::before {
	background-color: rgba(255, 255, 255, 0.6); }

.social-icons.-opacity-60 .-icon:hover::before {
	background-color: rgba(255, 255, 255, 0.8); }

.social-icons.-opacity-100 .-icon::before {
	background-color: white; }

.social-icons.-opacity-100 .-icon:hover::before {
	background-color: white; }

/**
 * Text Link
 *
 * @since    2.0.0
 */
a {
	color: inherit;
	text-decoration: none;
	position: relative; }

a::before {
	-webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	content: ' ';
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left: 1px; }

a.-white-hover::before {
	background-color: white; }

a.-black-hover::before {
	background-color: black; }

a:hover::before {
	bottom: -4px;
	height: 3px; }

.newsletter-form {
	width: 100%;
}

.newsletter-form.-max-width-500px {
	max-width: 500px; }

.newsletter-form form {
}

.newsletter-form form.-layout1 {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.newsletter-form form.-layout1 input {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	border: none;
	font-size: 15px;
	color: #000000;
	padding: 15px 25px;
	width: auto;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	background-color: rgba(231, 231, 233, 0.7);
	border-radius: 30px;
	display: inline-block; }

.newsletter-form form.-layout1 input:focus {
	background-color: #e7e7e9;
	outline: none; }

.newsletter-form form.-layout1 a {
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 13px;
	display: inline-block;
	-webkit-transform: translateX(-15px);
	transform: translateX(-15px);
	padding: 9px 25px;
	line-height: 100%;
	z-index: 0;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	color: white; }

.newsletter-form form.-layout1 a::before {
	content: " ";
	width: 100%;
	height: 130%;
	background-color: rgba(155, 155, 155, 0.8);
	z-index: -1;
	position: absolute;
	bottom: -15%;
	left: 0;
	border-radius: 30px; }

.newsletter-form form.-layout1 a p {
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
	color: inherit !important; }

.newsletter-form form.-layout1 a .spinner {
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	top: calc(50% - 12px / 2);
	left: calc(50% - 12px / 2);
	opacity: 1;
	border: solid 2px white;
	border-top-color: transparent;
	border-left-color: transparent;
	border-radius: 10px;
	margin: 0;
	padding: 0;
	-webkit-animation: pt_theme__loadingSpinner 0.5s linear infinite;
	animation: pt_theme__loadingSpinner 0.5s linear infinite;
	opacity: 0; }

.newsletter-form form.-layout1 a .spinner.hidde {
	display: none; }

.newsletter-form form.-layout1 a .spinner.-black {
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	top: calc(50% - 12px / 2);
	left: calc(50% - 12px / 2);
	opacity: 1;
	border: solid 2px black;
	border-top-color: transparent;
	border-left-color: transparent;
	border-radius: 10px;
	margin: 0;
	padding: 0;
	-webkit-animation: pt_theme__loadingSpinner 0.5s linear infinite;
	animation: pt_theme__loadingSpinner 0.5s linear infinite; }

.newsletter-form form.-layout1 a .spinner.-black.hidde {
	display: none; }

.newsletter-form form.-layout1 a:hover {
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px); }

.newsletter-form form.-layout1 a:hover::before {
	background-color: #FB3659;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3); }

.newsletter-form form.-layout1.-style1 input {
	color: #000000;
	background-color: rgba(231, 231, 233, 0.7); }

.newsletter-form form.-layout1.-style1 input:focus {
	background-color: #e7e7e9; }

.newsletter-form form.-layout1.-style1 a {
	color: white; }

.newsletter-form form.-layout1.-style1 a::before {
	background-color: rgba(155, 155, 155, 0.8); }

.newsletter-form form.-layout1.-style1 a:hover::before {
	background-color: #FB3659;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3); }

.newsletter-form form.-layout1.-style2 input {
	color: white;
	background-color: rgba(0, 0, 0, 0.6); }

.newsletter-form form.-layout1.-style2 input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.7); }

.newsletter-form form.-layout1.-style2 input::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(255, 255, 255, 0.7); }

.newsletter-form form.-layout1.-style2 input:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(255, 255, 255, 0.7); }

.newsletter-form form.-layout1.-style2 input:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(255, 255, 255, 0.7); }

.newsletter-form form.-layout1.-style2 input:focus {
	background-color: #e7e7e9;
	color: #000000; }

.newsletter-form form.-layout1.-style2 a {
	color: white; }

.newsletter-form form.-layout1.-style2 a::before {
	background-color: rgba(254, 195, 0, 0.8); }

.newsletter-form form.-layout1.-style2 a:hover::before {
	background-color: #FEC300;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3); }

.newsletter-form form.-layout2 {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	/**
		   * Style 1
		   *
		   * @since    2.0.0
		   */
	/**
		   * Style 2
		   *
		   * @since    2.0.0
		   */ }

.newsletter-form form.-layout2 input {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	border: none;
	font-size: 15px;
	color: #000000;
	padding: 17px 25px;
	width: auto;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	border-radius: 30px;
	display: inline-block; }

.newsletter-form form.-layout2 input:focus {
	outline: none; }

.newsletter-form form.-layout2 a {
	-webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 13px;
	display: inline-block;
	padding: 9px 25px;
	line-height: 100%;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	color: white;
	position: absolute;
	right: 5px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1; }

.newsletter-form form.-layout2 a p {
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
	color: inherit !important; }

.newsletter-form form.-layout2 a::before {
	content: " ";
	width: 100%;
	height: 130%;
	z-index: -1;
	position: absolute;
	bottom: -15%;
	left: 0;
	border-radius: 30px; }

.newsletter-form form.-layout2 a:hover {
	right: 0;
	padding: 13px 25px; }

.newsletter-form form.-layout2.-style1 input {
	color: #1C1C1C;
	background-color: rgba(255, 255, 255, 0.6); }

.newsletter-form form.-layout2.-style1 input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.7); }

.newsletter-form form.-layout2.-style1 input::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(255, 255, 255, 0.7); }

.newsletter-form form.-layout2.-style1 input:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(255, 255, 255, 0.7); }

.newsletter-form form.-layout2.-style1 input:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(255, 255, 255, 0.7); }

.newsletter-form form.-layout2.-style1 input:focus {
	background-color: #e7e7e9;
	color: #000000; }

.newsletter-form form.-layout2.-style1 a {
	color: white; }

.newsletter-form form.-layout2.-style1 a::before {
	background-color: #1c1c1c; }

.newsletter-form form.-layout2.-style2 input {
	color: #1C1C1C;
	background-color: rgba(255, 255, 255, 0.7); }

.newsletter-form form.-layout2.-style2 input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(28, 28, 28, 0.5); }

.newsletter-form form.-layout2.-style2 input::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(28, 28, 28, 0.5); }

.newsletter-form form.-layout2.-style2 input:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(28, 28, 28, 0.5); }

.newsletter-form form.-layout2.-style2 input:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(28, 28, 28, 0.5); }

.newsletter-form form.-layout2.-style2 input:focus {
	background-color: #e7e7e9;
	color: #000000; }

.newsletter-form form.-layout2.-style2 a {
	color: white; }

.newsletter-form form.-layout2.-style2 a::before {
	background-color: #1c1c1c; }

.newsletter-form form.-sending a {
	pointer-events: none; }

.newsletter-form form.-sending a .spinner {
	opacity: 1;
	visibility: visible; }

.newsletter-form form.-sending a p {
	opacity: 0; }

.notify-wrap {
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transform: translateY(-80px);
	transform: translateY(-80px);
	box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 100px);
	z-index: 100;
	padding: 30px 50px;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
}

.notify-wrap p {
	display: none;
	font-size: 16px;
	color: white;
	text-align: center;
	opacity: 1 !important;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700; }

.notify-wrap.-error {
	background-color: rgba(251, 1, 1, 0.95);
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0px);
	transform: translateY(0px); }

.notify-wrap.-error .error {
	display: block; }

.notify-wrap.-submitted-error {
	background-color: rgba(251, 1, 1, 0.95);
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0px);
	transform: translateY(0px); }

.notify-wrap.-submitted-error .submitted-error {
	display: block; }

.notify-wrap.-submitted {
	background-color: rgba(75, 195, 117, 0.95);
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0px);
	transform: translateY(0px); }

.notify-wrap.-submitted .submitted {
	display: block; }

body h1, body h2, body h3, body h4, body h5, body h6, body p {
	color: inherit;
	padding: 0;
	margin: 0; }

body h1 b {
	border-bottom: 8px solid rgba(255, 255, 255, 0.5); }

body p {
	line-height: 130%; }

body {
}

body .video-player {
}

body .video-player .play-button {
	width: 110px;
	height: 110px;
	display: block; }

@media (max-width: 1023px) {
	body .video-player .play-button {
		width: 100px;
		height: 100px; }
}

body .video-player .play-button i {
	position: absolute;
	top: 50%;
	left: 52%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: url("data:image/svg+xml;utf8,<svg width='21px' height='29px' viewBox='38 31 21 29' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'>\a 			  <polygon id='Play' stroke='none' fill='white' fill-rule='evenodd' points='38.22 59.15 38.22 31.85 58.24 45.5'></polygon>\a 			  </svg>") no-repeat 53% center;
	width: 100%;
	height: 100%;
	z-index: 1; }

body .video-player .play-button .circle-box {
	-webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #FFC300;
	width: 85%;
	height: 85%;
	border-radius: 100%; }

@media (min-width: 1024px) {
	body .video-player .play-button:hover .circle-box {
		width: 100%;
		height: 100%; }
}

body .video-player .video-wrap {
	display: none; }

body .ptExt--video-lightbox {
	visibility: hidden;
	position: fixed;
	z-index: 100000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

body .ptExt--video-lightbox .ptExt-embed {
	-webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	max-width: 80%;
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

body .ptExt--video-lightbox .ptExt-embed > a {
	-webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	position: absolute;
	z-index: 5;
	width: 65px;
	height: 65px;
	bottom: -100px;
	left: calc(50% - 65px / 2); }

@media (max-width: 767px) {
	body .ptExt--video-lightbox .ptExt-embed > a {
		bottom: -50px;
		width: calc(65px / 1.5);
		height: calc(65px / 1.5); }
}

body .ptExt--video-lightbox .ptExt-embed > a i {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: black;
	z-index: 1;
	font-style: normal;
	font-weight: 900; }

@media (max-width: 767px) {
	body .ptExt--video-lightbox .ptExt-embed > a i {
		font-size: 16px; }
}

body .ptExt--video-lightbox .ptExt-embed > a::before {
	-webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
	border-radius: 50%;
	display: table;
	z-index: 0;
	background-color: white; }

@media (min-width: 1024px) {
	body .ptExt--video-lightbox .ptExt-embed > a:hover::before {
		width: 100%;
		height: 100%; }
}

body .ptExt--video-lightbox .ptExt-embed > p {
	-webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
	position: relative;
	padding-bottom: 54.3%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	z-index: 2;
	opacity: 0; }

body .ptExt--video-lightbox .ptExt-embed > p iframe,
body .ptExt--video-lightbox .ptExt-embed > p object,
body .ptExt--video-lightbox .ptExt-embed > p embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; }

body .ptExt--video-lightbox .ptExt--overlay {
	-webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 1;
	background-color: black; }

body .ptExt--video-lightbox.-open-lightbox {
	visibility: visible; }

body .ptExt--video-lightbox.-open-lightbox .ptExt-embed {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
	visibility: visible;
	opacity: 1; }

body .ptExt--video-lightbox.-open-lightbox .ptExt-embed > a {
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1); }

body .ptExt--video-lightbox.-open-lightbox .ptExt-embed > p {
	-webkit-transition-delay: 2s;
	transition-delay: 2s;
	opacity: 1; }

body .ptExt--video-lightbox.-open-lightbox .ptExt--overlay {
	visibility: visible;
	opacity: 1; }

.image-bg-wrap, .video-bg-wrap {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: -1; }

.-bg-image, .-bg-video {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	-webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

@media (max-width: 767px) {
	.-bg-image.-opacity-10-phone, .-bg-video.-opacity-10-phone {
		opacity: 0.1; }
}

@media (max-width: 767px) {
	.-bg-image.-opacity-20-phone, .-bg-video.-opacity-20-phone {
		opacity: 0.2; }
}

@media (max-width: 767px) {
	.-bg-image.-opacity-30-phone, .-bg-video.-opacity-30-phone {
		opacity: 0.3; }
}

@media (max-width: 767px) {
	.-bg-image.-opacity-40-phone, .-bg-video.-opacity-40-phone {
		opacity: 0.4; }
}

@media (max-width: 767px) {
	.-bg-image.-opacity-50-phone, .-bg-video.-opacity-50-phone {
		opacity: 0.5; }
}

@media (max-width: 767px) {
	.-bg-image.-opacity-60-phone, .-bg-video.-opacity-60-phone {
		opacity: 0.6; }
}

@media (max-width: 767px) {
	.-bg-image.-opacity-70-phone, .-bg-video.-opacity-70-phone {
		opacity: 0.7; }
}

#site-loading .doubleLoaderTop,
#site-loading .doubleLoaderBottom {
	background-color: #131313; }

#site-loading .doubleLoaderProgBar {
	background-color: rgba(255, 255, 255, 0.1);
	height: 15px; }

#site-loading .doubleLoaderProgBar span {
	background-color: #ffffff;
	height: 15px; }

#site-loading.-white .doubleLoaderTop,
#site-loading.-white .doubleLoaderBottom {
	background-color: white; }

#site-loading.-white .doubleLoaderProgBar {
	background-color: rgba(19, 19, 19, 0.1); }

#site-loading.-white .doubleLoaderProgBar span {
	background-color: #131313; }
